<?xml version="1.0"?>                   <!-- XML声明，定义文档版本为1.0 -->
<model>                                 <!-- 模型根元素，包含整个模型的配置信息 -->
  <name>basketball_court</name>         <!-- 模型名称，标识为“篮球场” -->
  <version>1.0</version>                <!-- 模型版本号，当前为1.0 -->
  <sdf version="1.11">model.sdf</sdf>   <!-- 指定SDF文件路径及使用的SDF版本 -->
  <author>                              <!-- 作者信息块开始 -->
    <name>4Shuan9</name>                <!-- 作者名称 -->
    <email>ashuang1999@qq.com</email>   <!-- 作者联系邮箱 -->
  </author>                             <!-- 作者信息块结束 -->
  <description>Test to know the use of Gazebo.</description>  <!-- 模型描述：用于测试Gazebo的使用 -->
</model>                                <!-- 模型根元素结束 -->